.container {
  background-image: url("../../assets/movie.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 32px;
  color: #fff;
}
